.inline-links a {
  display: none;
}

.stack-list {
  list-style: none;
  overflow: hidden;
}

ul.stack-item-tags {
  color: var(--tertiary);
  font-size: 10px;
  margin: 0 16px 12px 0;
  font-family: var(--code-bg);
}

.stack-item {
  display: flex;
  overflow: hidden;
}

.stack-item:hover .stack-item-title {
  color: var(--link-hover-color);
  box-shadow: var(--link-hover-underline-shadow);
}

.stack-item-link {
  text-decoration: none;
  color: inherit;
}

.stack-item-image-container {
  width: 64px;
  height: 64px;
  float: left;
  margin-right: 16px;
}

.stack-item-content {
  padding: 18px 8px 8px 16px;
  flex: 1;
  padding-inline-start: 0px !important;
}

.stack-item-header {
  display: flex;
  flex-direction: column;
}

.stack-item-title-container {
  display: flex;
  flex-direction: column;
}

.stack-item-title {
  color: var(--text-highlight-color);
  font-family: var(--font-family-teshu);
  font-size: 16px;
  font-weight: 500;
  width: fit-content;
}

.stack-item-description {
  font-size: 14px;
  margin: 0 0 4px 0;
  line-height: 1.6;
  color: var(--secondary);
}

.stack-item-tags {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 0;
  margin: 0;
}

.stack-item-tags li {
  background-color: var(--code-bg);
  border-radius: 3px;
  padding: 0rem 0.5rem;
  font-size: 0.6rem;
  white-space: nowrap;
}

.stack-item-divider {
  width: 100%;
  height: 0.5px;
  background-color: var(--tertiary-bg);
}

hr.stack-item-divider {
  margin: 8px 0px;
}

span.stack-item-tag {
  background-color: var(--border);
  border-radius: 3px;
  padding: 0rem 0.5rem;
  font-size: 0.6rem;
  white-space: nowrap;
  color: var(--tertiary);
  line-height: 1.4rem;
}

p.stack-item-description {
  margin: 4px 0px 12px 0px;
}

a.stack-item-link {
  color: unset;
  box-shadow: none;
}

.post-content a:hover {
  color: unset;
  box-shadow: none;
}
