<head>
  <!-- ... -->
  <link
    rel="stylesheet"
    href="https://unpkg.com/@waline/client@v2/dist/waline.css"
  />
  <!-- ... -->
</head>
<body>
  <!-- ... -->
  <div id="waline"></div>
  <script type="module">
    import { init } from 'https://unpkg.com/@waline/client@v2/dist/waline.mjs';

    init({
      el: '#waline',
      serverURL: 'https://chat.wananaiko.design',

      // 设置 emoji 为微博与哔哩哔哩
    emoji: [
      '//cdn.jsdelivr.net/gh/walinejs/emojis@1.0.0/tieba',
    ],

    });
  </script>
</body>

