<head>
  <style>
    .comment-title {
      font-size: 24px;
      font-weight: bold;
      padding: 32px 6px 0px 6px;
    }
    .comment-description {
      font-size: 14px;
      color: #666;
      padding: 4px 16px 16px 6px;
    }
    p.root__copyright {
      display: none;
    }
  </style>
</head>
<head>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/@waline/client@2.14.6/dist/waline.css">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/@waline/client@2.14.6/dist/waline-meta.css">
  </head>
  <body>
    <!-- ... -->
    <div id="waline"></div>
    <script type="module">
      import { init } from 'https://unpkg.com/@waline/client@v2.14.6/dist/waline.mjs';
  
      init({
        el: '#waline',
        lang: 'zh-CN',
        reaction: true, // 开启反应
        serverURL: 'https://chat.wananaiko.design',
        dark: 'body.dark',
        copyright: false,
        
      // 设置 emoji 为贴吧与哔哩哔哩
      emoji: [
        '//cdn.jsdelivr.net/gh/walinejs/emojis@1.0.0/tieba',
        '//cdn.jsdelivr.net/gh/walinejs/emojis@1.0.0/bilibili',
      ],
      });
    </script>
  </body>
