<head>
  <style>
    .comment-title {
      font-size: 24px;
      font-weight: bold;
      padding: 32px 6px 0px 6px;
    }
    .comment-description {
      font-size: 14px;
      color: #666;
      padding: 4px 16px 16px 6px;
    }
    p.root__copyright {
      display: none;
    }
  </style>
</head>
<body>
  <div class="comment-title">欢迎讨论</div>
  <div class="comment-description">请通过电子邮件订阅以接收回复通知。</div>
  <div id="remark42"></div>

  <script>
    var remark_config = {
      host: "https://remark42.wananaiko.com",
      site_id: "wananaiko",
      locale: "zh",
      page_title: "Comments",
      theme: "auto",
    };
    (function (c) {
      /* Adjust the theme using the local-storage pref-theme if set */
      if (localStorage.getItem("pref-theme") === "dark") {
        remark_config.theme = "dark";
      } else if (localStorage.getItem("pref-theme") === "light") {
        remark_config.theme = "light";
      }
      /* Add remark42 widget */
      for (var i = 0; i < c.length; i++) {
        var d = document,
          s = d.createElement("script");
        s.src = remark_config.host + "/web/" + c[i] + ".js";
        s.defer = true;
        (d.head || d.body).appendChild(s);
      }
    })(remark_config.components || ["embed"]);
  </script>
  <script>
    !(function (e, n) {
      for (var o = 0; o < e.length; o++) {
        var r = n.createElement("script"),
          c = ".js",
          d = n.head || n.body;
        "noModule" in r ? ((r.type = "module"), (c = ".mjs")) : (r.async = !0),
          (r.defer = !0),
          (r.src = remark_config.host + "/web/" + e[o] + c),
          d.appendChild(r);
      }
    })(remark_config.components || ["embed"], document);

    // 修复Comments count: 0,文章中不显示remark42评论的问题.

    var remark42 = window.REMARK42;
    if (remark42) {
      remark42.destroy();
      remark42.createInstance(remark_config);
    } else {
      for (const component of remark_config.components) {
        var d = document,
          s = d.createElement("script");
        s.src = `${remark_config.host}/web/${component}.mjs`;
        s.type = "module";
        s.defer = true;
        // prevent the <script> from loading mutiple times by InstantClick
        s.setAttribute("data-no-instant", "");
        d.head.appendChild(s);
      }
    }
  </script>
</body>
