{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
  <header class="entry-header">
    <h1>{{ .Title | markdownify }}</h1>
  </header>
  <section class="entry-content">
    {{- trim .Content "\n" | markdownify -}}
  </section>
  <!--旧的备份 <footer class="entry-footer">
    {{- partial "social_icons.html" (dict "icons" site.Params.socialIcons "svg" $.Site.Data.svg "MaskedEmail" site.Params.MaskedEmail "Email" site.Params.Email) -}}
  </footer> -->

  <footer class="entry-footer">
    <div class="social-icons">
      <a
        href="https://wananaiko.com/index.xml"
        target="_blank"
        data-tooltip="RSS"
      >
        <svg class="iconpark-icon-home"><use href="#rss"></use></svg>
      </a>

      <a href="mailto:wananaiko@tu.edu.vn" target="_blank" data-tooltip="Email">
        <svg class="iconpark-icon-home"><use href="#email"></use></svg>
      </a>

      <a
        href="https://t.me/timetosay88"
        target="_blank"
        data-tooltip="Telegram"
      >
        <svg class="iconpark-icon-home"><use href="#telegram"></use></svg>
      </a>

      <a href="/links/" data-tooltip="Say Hi">
        <svg class="iconpark-icon-home"><use href="#sayhi"></use></svg>
      </a>
    </div>
  </footer>
</article>

{{- end -}}
