{{- define "main" }}
{{ $moment := resources.Get "moment.min.js" }}

<header class="page-header">
    <h1>{{ .Title }}</h1>
    {{- if .Description }}
    <div class="post-description">
      {{ .Description }}
    </div>
    {{- end }}
</header>
 
<section>
  {{ .Content }}
</section>

<!-- 页面下雪效果 -->
<script src="https://app.embed.im/snow.js" defer></script>

<script>
(function() {
    const defaultTheme = 'auto';
    const prefTheme = getPrefTheme();
    const theme = prefTheme ? prefTheme : defaultTheme;

    switchTheme(theme);
  })();
</script>
 
{{- end }}{{/* end main */}}
