{{- define "main" }}

<link href="/assets/css/style.css" rel="stylesheet" type="text/css">
<link href="/assets/css/APlayer.min.css" rel="stylesheet" type="text/css">
<link href="/assets/css/highlight.github.min.css" rel="stylesheet" type="text/css">
<link href="/assets/css/custom.css" rel="stylesheet" type="text/css">

<script type="text/javascript" src="/assets/js/lazyload.min.js?v=17.8.3"></script>
<script type="text/javascript" src="/assets/js/marked.min.js?v=4.2.2"></script>
<script type="text/javascript" src="/assets/js/view-image.min.js"></script>
<!-- <script type="text/javascript" src="assets/js/pangu.min.js?v=4.0.7"></script> -->
<script type="text/javascript" src="/assets/js/moment.min.js?v=2.29.4"></script>
<script type="text/javascript" src="/assets/js/moment.twitter.js"></script>
<script type="text/javascript" src="/assets/js/APlayer.min.js"></script>
<script type="text/javascript" src="/assets/js/Meting.min.js"></script>
<script type="text/javascript" src="/assets/js/highlight.min.js"></script>
<script type="text/javascript" src="/assets/js/main.js"></script>
<script type="text/javascript" src="/assets/js/custom.js"></script>
 
<header class="page-header">
    <h1>{{ .Title }}</h1>
    {{- if .Description }}
    <div class="post-description">
      {{ .Description }}
    </div>
    {{- end }}
  </header>
 
<section id="main" class="container">
    <div class="total">累计 <span id="total">0</span> 条 Memos 🎉</div> 
        <div id="memos">
            <!-- Memos Container -->
        </div>

    <!-- 修改自己的 Memos 设置 -->
     <script type="text/javascript">
      var memos = {
          host: 'https://memo.wananaiko.com/',  //修改为自己部署 Memos 的网址，末尾有 / 斜杠
          limit: '20',  //默认每次显示 10条
          creatorId: '1',  //默认为 101用户 https://memo.wananaiko.com/u/1
          domId: '',  //默认为 #memos
          username: 'wananaiko',  //发布者 ID 自定义
          name: 'Aiko',  //发布者全称自定义
      }
    </script>

</section>

<script src="/memos/assets/js/view-image.min.js"></script>
<script>
    window.ViewImage && ViewImage.init('.content img');
</script>
 
{{- end }}{{/* end main */}}
