{{- define "main" }}

<header class="page-header">
    <h1>{{ .Title }}</h1>
    {{- if .Description }}
    <div class="post-description">
      {{ .Description }}
    </div>
    {{- end }}
</header>

{{/* get pages from the current page's section */}}
{{/* in this way, archives.html could be used for section archives other than the only one archives of the whole site */}}
{{- $sections := site.Params.mainSections }}
{{- if .Section }}
  {{- $sections = slice .Section }}
{{- end }}
{{- $pages := where (where site.RegularPages "Section" "in" $sections) "Params.hidden" "!=" true }}
 
<section>
  {{ .Content }}
</section>

<!-- 页面下雪效果 -->
<script src="https://app.embed.im/snow.js" defer></script>
 
{{- end }}{{/* end main */}}
