<link rel="stylesheet" href="/css/message.css" />

<div class="message {{if eq (.Get "from") "self"}}--self{{end}}">
    <div class="message__inner">
        {{if ne (.Get "accountID") ""}}
        <img class="avatar" src="https://unavatar.io/{{.Get "accountID"}}" width="24" height="24">
        {{else}}
        <img class="avatar" src="" width="24" height="24" style="visibility:hidden;">
        {{end}}
        <div class="message__text">
            <hstack class="message__meta">{{.Get "name"}} <spacer></spacer> {{.Get "timestamp"}}</hstack>
            {{.Inner}}

            {{if ne (.Get "images") ""}}
            <div class="grid-container">
                {{range split (.Get "images") ","}}
                <div class="grid-item">
                    <img class="message__img" src="{{.}}" alt="Image">
                </div>
                {{end}}
            </div>
            {{end}}
        </div>
    </div>
</div>

<script>
    // 解决手机浏览器里点击grid-item里的img后,图片不显示为原图尺寸.
    // https://stackoverflow.com/questions/37166172/how-to-make-an-image-fullscreen-on-click
    var gridItems = document.querySelectorAll('.grid-item');
    gridItems.forEach(function(gridItem) {
        gridItem.addEventListener('click', function() {
            gridItem.classList.toggle('grid-item--zoom');
        });
    });

</script>