{{ $images := .Page.Params.images }} {{ with $images }}
<div class="photo-gallery-container" style="max-width: 790px; margin: 0 auto">
  <div class="photo-grid">
    {{ range sort . "date" "desc" }}
    <div class="photo-grid-item">
      <a href="{{ .url }}" data-lightbox="gallery" data-title="{{ .title }}">
        <img src="{{ .url }}" alt="{{ .title }}" class="photo-single" />
      </a>
      <div class="photo-info">
        <div class="photo-description">{{ .description }}</div>
        <div class="photo-tags">
          {{ with .tags }}{{ delimit . ", " }}{{ end }}
        </div>
      </div>
    </div>
    {{ end }}
  </div>
</div>
{{ end }}

<script src="/libs/masonry/masonry.pkgd.min.js"></script>
<script src="/libs/imagesloaded/imagesloaded.pkgd.min.js"></script>
<script src="/libs/lightbox2/js/lightbox.min.js"></script>
<link rel="stylesheet" href="/libs/lightbox2/css/lightbox.min.css" />
<script
  src="https://www.wananaiko.com/js/medium-zoom.min.js"
  data-no-instant
></script>
<script
  type="text/javascript"
  src="https://www.wananaiko.com/memos/assets/js/view-image.min.js"
></script>

<style>
  .photo-grid-item {
    width: calc(33.333% - 10px);
    margin-bottom: 16px;
    padding: 0px 5px;
    box-sizing: border-box;
  }

  .photo-grid-item .photo-single {
    width: 100%;
    height: auto;
  }

  .photo-info {
    /* padding: 5px; */
  }

  .photo-description {
    font-size: 14px;
    color: var(--content);
    line-height: 24px;
  }

  .photo-tags {
    font-size: 12px;
    color: #999;
    line-height: 18px;
  }
  .post-content img {
    border-radius: 4px;
    margin: 0.5rem auto;
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    var grid = document.querySelector(".photo-grid");
    var msnry = new Masonry(grid, {
      itemSelector: ".photo-grid-item",
      columnWidth: ".photo-grid-item",
      gutter: 10,
      percentPosition: true,
    });

    imagesLoaded(grid).on("progress", function () {
      msnry.layout();
    });
  });
</script>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    var grid = document.querySelector(".photo-grid");
    var msnry = new Masonry(grid, {
      itemSelector: ".photo-grid-item",
      columnWidth: ".photo-grid-item",
      gutter: 10,
      percentPosition: true,
    });

    imagesLoaded(grid).on("progress", function () {
      msnry.layout();
    });

    // Initialize medium-zoom
    mediumZoom(".photo-single", {
      margin: 24,
      background: "#000",
    });
  });
</script>

<!-- 启用图片灯箱 -->
<script>
  window.ViewImage && ViewImage.init(".container img");
</script>
