{{ $token := "d7e078a0-3f49-4419-981a-8695c399b0d8" }} {{ $collection :=
"34199304" }} {{ $apiUrl := printf
"https://api.raindrop.io/rest/v1/raindrops/%s" $collection }} {{ $json :=
getJSON $apiUrl "?access_token=" $token "&perpage=50&sort=-created" }}

<style>
  .mk-raindrop-bookmarks {
    display: grid;
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow: none;
    transition: none;
    overflow-x: hidden;
    max-width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 16px;
    margin: 0 auto;
  }

  .mk-raindrop-bookmark {
    width: 100%;
    margin: 0 auto;
    cursor: pointer;
    padding: 12px 4px 4px 4px;
    border-radius: var(--radius);
    --list-opacity: 1;
    background-color: rgb(250 250 250 / var(--list-opacity));
  }

  .mk-raindrop-bookmark:hover {
    text-decoration: none;
    box-shadow: none;
    --bookmark-list-opacity: 1;
    background: var(--code-bg);
    border-radius: var(--radius);
  }

  .dark .mk-raindrop-bookmark {
    background: var(--code-bg);
  }

  .dark .mk-raindrop-bookmark:hover {
    text-decoration: none;
    box-shadow: none;
    border-radius: var(--radius);
    --bookmark-list-opacity: 0.1;
    background-color: rgb(0 0 0 / var(--bookmark-list-opacity));
  }

  .mk-raindrop-bookmark a {
    text-decoration: none;
    color: inherit;
    display: block;
    box-shadow: none;
    padding: 0 0.5rem;
    line-height: 1.2;
  }

  .mk-raindrop-bookmark a:hover {
    text-decoration: none;
    box-shadow: none;
    padding: 0 0.5rem;
  }

  .mk-title-wrapper {
    display: inline-flex;
    align-items: flex-start;
    position: relative;
    justify-content: flex-start;
  }

  .mk-title {
    font-size: 15px;
    font-weight: 500;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 16px;
    line-height: 1.5rem;
    color: var(--content);
    transition: 0.5s;
    margin-top: 12px;
    width: fit-content;
  }

  .mk-raindrop-bookmark:hover .mk-title {
    color: var(--content);
    box-shadow: var(--box-shadow);
    width: fit-content;
  }

  .mk-excerpt {
    font-size: 13px;
    line-height: 1.4;
    color: var(--secondary);
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0.3rem 0 0.3rem 0;
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .mk-raindrop-tags {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    /* margin: 0.4rem 0 0 0; */
    align-items: center;
    gap: 4px;
  }

  .mk-tag {
    display: inline-block;
    color: var(--secondary);
    font-size: 12px;
    white-space: nowrap;
    line-height: 12px;
    border-radius: 4px;
    margin: 4px 4px 4px 0;
  }

  span.mk-dot {
    color: var(--secondary);
    font-size: 18px;
    white-space: nowrap;
    line-height: 1.4rem;
  }

  .mk-divider {
    /* width: 100%;
    background-color: var(--tertiary-bg);
    border-bottom: 1px solid var(--tertiary-bg);
    opacity: .65; */
    display: none;
  }

  .mk-tab {
    display: flex;
    flex-wrap: wrap;
    gap: 0.6rem;
    padding-bottom: 1.5rem;
  }

  .mk-cover img {
    border-radius: 6px;
    margin: 0 auto;
    overflow: clip;
    width: 100%;
    height: 120px;
    object-fit: cover;
  }

  .mk-tab-tag {
    display: inline-block;
    color: var(--secondary);
    background: linear-gradient(
        180deg,
        rgba(223, 225, 231, 0) 0%,
        rgba(223, 225, 231, 0.05) 100%
      ),
      var(--entry);
    box-shadow: 0px 1px 2px rgba(42, 59, 81, 0.12),
      0px 0px 0px 1px rgba(18, 55, 105, 0.08);
    border-radius: 6px;
    padding: 0.05rem 0.5rem;
    font-size: 13px;
    white-space: nowrap;
    line-height: 1.4rem;
    cursor: pointer;
  }

  .mk-tab-tag.mk-tab-tag-active:hover {
    color: rgba(255, 255, 255, 0.9);
    background-color: var(--link-hover-color);
  }

  .dark .mk-tab-tag-active {
    box-shadow: none;
  }

  .mk-tab-tag:hover {
    color: var(--secondary);
    background-color: var(--code-bg);
  }

  .mk-tab-tag-active {
    color: rgba(255, 255, 255, 0.9);
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.16) 0%,
        rgba(255, 255, 255, 0) 100%
      ),
      #009999;
    box-shadow: 0px 1px 2px rgba(0, 80, 80, 0.4),
      0px 0px 0px 1px rgba(0, 122, 122, 0.76);
    border-radius: 6px;
  }

  .mk-update-time {
    opacity: 0.7;
    color: var(--tertiary);
    font-size: 12px;
    white-space: nowrap;
    line-height: 1.4rem;
  }

  span.mk-important-description {
    margin-left: 4px;
    color: var(--link-hover-color);
    font-size: 12px;
    white-space: nowrap;
    line-height: 1.4rem;
    margin-right: 0.5rem;
  }

  .mk-important {
    display: flex;
    align-items: center;
    margin: 4px 0;
  }

  .mk-raindrop-bookmark.important {
    background-color: rgb(198 239 239 / 25%);
  }

  .mk-raindrop-bookmark.important:hover {
    background-color: rgb(198 239 239 / 40%);
  }

  .dark .mk-raindrop-bookmark.important {
    background-color: rgba(0, 153, 153, 0.1);
  }

  .dark .mk-raindrop-bookmark.important:hover {
    background-color: rgba(0, 153, 153, 0.05);
  }

  mark {
    all: unset;
    margin: 8px 8px 8px 24px;
    border-radius: var(--radius);
    background: 0 0;
    background-image: linear-gradient(
      to right,
      rgba(255, 225, 0, 0.3),
      rgba(255, 225, 0, 0.2) 4%,
      rgba(255, 225, 0, 0.1)
    );
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    padding: 0 0.5rem;
    font-size: 14px;
    line-height: 1.6 !important;
    display: grid;
    grid-auto-flow: row;
    gap: 12px;
    padding: 8px 12px;
  }

  .dark mark {
    color: #b9ae4d;
    background-image: linear-gradient(
      to right,
      rgba(255, 225, 0, 0.2),
      rgba(255, 225, 0, 0.1) 4%,
      rgba(255, 225, 0, 0.05)
    );
    opacity: 0.85;
  }

  .mk-domin {
    opacity: 0.7;
    color: var(--tertiary);
    font-size: 12px;
    white-space: nowrap;
    line-height: 1.4rem;
  }

  @media (max-width: 767px) {
    .mk-raindrop-bookmarks {
      display: grid;
      flex-wrap: wrap;
      justify-content: space-between;
      box-shadow: none;
      transition: none;
      overflow-x: hidden;
      max-width: 100%;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 16px;
      margin: 0 auto;
    }

    .mk-cover img {
      border-radius: 4px;
      margin: 0 auto;
      overflow: clip;
      width: 100%;
      height: 140px;
      object-fit: cover;
    }
  }
</style>

<!-- Base on raindrop.io's API filters, Add a Tab switch Group to view different tags,each tag is displayed only once in the this Tab switch. -->
<div class="mk-tab">
  <div class="mk-tab-tag" onclick="showAll()">All</div>

  {{ range $i, $item := index $json "items" }} {{ range $j, $tag := $item.tags
  }}
  <div class="mk-tab-tag" onclick="showTag('{{ $tag }}')">{{ $tag }}</div>
  {{ end }} {{ end }}
  <div class="mk-divider"></div>
</div>

<script>
  // 过滤掉上面mk-raindrop-tags"中重复的tag
  var tags = document.getElementsByClassName("mk-tab-tag");
  var tagList = [];
  for (var i = 0; i < tags.length; i++) {
    var tagContent = tags[i].textContent;
    if (tagList.indexOf(tagContent) == -1) {
      tagList.push(tagContent);
    } else {
      tags[i].style.display = "none";
    }
  }

  function showAll() {
    var bookmarks = document.getElementsByClassName("mk-raindrop-bookmark");
    for (var i = 0; i < bookmarks.length; i++) {
      bookmarks[i].style.display = "block";
    }
    var tags = document.getElementsByClassName("mk-tab-tag");
    for (var i = 0; i < tags.length; i++) {
      tags[i].classList.remove("mk-tab-tag-active");
    }
    document.querySelector(".mk-tab-tag").classList.add("mk-tab-tag-active");
  }

  function showTag(tag) {
    var bookmarks = document.getElementsByClassName("mk-raindrop-bookmark");
    for (var i = 0; i < bookmarks.length; i++) {
      if (bookmarks[i].querySelectorAll(".mk-tag").length > 0) {
        var found = false;
        var bookmarkTags = bookmarks[i].querySelectorAll(".mk-tag");
        for (var j = 0; j < bookmarkTags.length; j++) {
          if (bookmarkTags[j].textContent == "#" + tag) {
            // Add the '#' prefix for comparison
            found = true;
            break;
          }
        }
        if (found) {
          bookmarks[i].style.display = "block";
        } else {
          bookmarks[i].style.display = "none";
        }
      } else {
        bookmarks[i].style.display = "none";
      }
    }
    var tags = document.getElementsByClassName("mk-tab-tag");
    for (var i = 0; i < tags.length; i++) {
      var tagContent = tags[i].textContent;
      if (tagContent == tag) {
        tags[i].classList.add("mk-tab-tag-active");
      } else {
        tags[i].classList.remove("mk-tab-tag-active");
      }
    }
  }
  // 使默认选中第一个标签All.
  document.querySelector(".mk-tab-tag").classList.add("mk-tab-tag-active");
</script>

<div class="mk-raindrop-bookmarks">
  {{ range $i, $item := index $json "items" }} {{ $domain := index (findRE
  "[^.]+\\.[^.]+$" (index (findRE "//[^/]+" $item.link) 0)) 0 }}
  <div class="mk-raindrop-bookmark">
    <a href="{{ $item.link }}" target="_blank" rel="noopener noreferrer">
      <div class="mk-cover">
        <img src="{{ $item.cover }}" loading="lazy" />
      </div>

      <div class="mk-title">{{ $item.title }}</div>
      {{ with $item.excerpt }}
      <div class="mk-excerpt">{{ . }}</div>
      {{ end }} {{ with $item.note }}
      <div class="mk-excerpt">{{ . }}</div>
      {{ end }} {{ with $item.tags }} {{ range . }}
      <div class="mk-tag">#{{ . }}</div>
      {{ end }}
      <div class="mk-raindrop-tags">
        <div class="mk-domin">{{ $item.domain }}</div>
        <span class="mk-dot">·</span>
        <div class="mk-update-time">{{ $item.lastUpdate }}</div>
        <spacer></spacer>
        <!-- 增加一个div class="mk-important",从Raindrop API中获取important的值,如果是Boolean增显示<span>favorite</span> -->
      </div>
      <div class="mk-important">
        {{ if eq $item.important true }}
        <svg
          width="20"
          height="20"
          viewBox="0 0 20 20"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M16.6663 11.3333C15.6601 14.5 12.8534 16.6667 9.58301 16.6667C6.22871 16.75 3.33301 14.0833 3.33301 10.75C3.33301 10.3333 3.33301 10 3.41687 9.58333L5.09401 10.0833C4.75858 12.75 6.89957 15.0833 9.58301 15C12.1826 14.9167 14.4022 13.1667 15.1569 10.75L16.6663 11.3333ZM7.27431 9.16667C8.19674 9.16667 9.28689 7.66667 9.62232 5.83333C10.0416 4 9.62232 2.5 8.69988 2.5C7.77745 2.5 6.77116 4 6.35188 5.83333C5.93259 7.66667 6.35188 9.16667 7.27431 9.16667ZM12.725 9.58333C13.6475 9.58333 14.7376 8.08333 15.1569 6.25C15.5762 4.41667 15.1569 2.91667 14.2345 2.91667C13.312 2.91667 12.2219 4.41667 11.8026 6.25C11.3833 8.08333 11.8026 9.58333 12.725 9.58333Z"
            fill="var(--link-hover-color)"
          />
        </svg>

        <span class="mk-important-description">很赞</span>
        {{ end }} {{ if eq $item.important false }}
        <div></div>
        {{ end }}
      </div>

      {{ end }}
    </a>
    {{ if lt $i (sub (len (index $json "items")) 1) }}
  </div>
  {{ end }} {{ end }}
</div>

<script>
  // 使用JavaScript判断,如果mk-raindrop-bookmark里存在mk-important-description元素,则mk-raindrop-bookmark的background-color修改为var(--link-background-color);
  const bookmarks = document.querySelectorAll(".mk-raindrop-bookmark");
  bookmarks.forEach((bookmark) => {
    const important = bookmark.querySelector(".mk-important-description");
    if (important) {
      bookmark.classList.add("important");
    }
  });
</script>

<script>
  // 先将lastUpdate的时间格式化,再使用 moment.twitter.min.js 来显示Twitter风格的时间.默认显示Twitter风格的相对的时间,若时间差大于1个月，显示具体的日期如2020年3月12日.
  var lastUpdate = document.getElementsByClassName("mk-update-time");
  for (var i = 0; i < lastUpdate.length; i++) {
    var time = lastUpdate[i].innerHTML;
    var date = new Date(time);
    var now = new Date();
    var diff = now.getTime() - date.getTime();
    var days = Math.floor(diff / (24 * 3600 * 1000));
    var leave1 = diff % (24 * 3600 * 1000);
    var hours = Math.floor(leave1 / (3600 * 1000));
    var leave2 = leave1 % (3600 * 1000);
    var minutes = Math.floor(leave2 / (60 * 1000));
    var leave3 = leave2 % (60 * 1000);
    var seconds = Math.round(leave3 / 1000);
    if (days > 30) {
      lastUpdate[i].innerHTML =
        date.getFullYear() +
        "年" +
        (date.getMonth() + 1) +
        "月" +
        date.getDate() +
        "日";
    } else if (days > 0) {
      lastUpdate[i].innerHTML = days + "天前";
    } else if (hours > 0) {
      lastUpdate[i].innerHTML = hours + "小时前";
    } else if (minutes > 0) {
      lastUpdate[i].innerHTML = minutes + "分钟前";
    } else if (seconds > 0) {
      lastUpdate[i].innerHTML = seconds + "秒前";
    }
  }
  moment.twitter();
</script>
