{{ $token := "d7e078a0-3f49-4419-981a-8695c399b0d8" }} {{ $collection :=
"34199304" }} {{ $apiUrl := printf
"https://api.raindrop.io/rest/v1/raindrops/%s" $collection }} {{ $json :=
getJSON $apiUrl "?access_token=" $token }}

<style>
  .mk-raindrop-bookmarks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: -1rem;
  }

  .mk-raindrop-bookmark {
    width: 100%;
    margin: 1rem;
  }

  .mk-raindrop-bookmark a {
    text-decoration: none;
    color: inherit;
  }

  .mk-title {
    font-size: 16px;
    font-weight: bold;
  }

  .mk-excerpt {
    font-size: 0.9rem;
    color: #666;
  }

  .mk-raindrop-tags {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
  }

  .mk-tag {
    display: inline-block;
    font-size: 0.8rem;
    color: var(--tertiary);
    margin-right: 4px;
    margin-bottom: 4px;
  }

  .mk-divider {
    width: 100%;
    height: 1px;
    background-color: #ccc;
    margin: 1rem 0;
  }
</style>

<div class="mk-raindrop-bookmarks">
  {{ range $i, $item := $json.items }}
  <div class="mk-raindrop-bookmark">
    <a href="{{ $item.link }}" target="_blank" rel="noopener noreferrer">
      <div class="mk-title">{{ $item.title }}</div>
    </a>
    {{ with $item.excerpt }}
    <div class="mk-excerpt">{{ . }}</div>
    {{ end }} {{ with $item.tags }}
    <div class="mk-raindrop-tags">
      {{ range . }}
      <div class="mk-tag">{{ . }}</div>
      {{ end }}
    </div>
    {{ end }}
  </div>
  {{ if lt $i (sub (len $json.items) 1) }}
  <div class="mk-divider"></div>
  {{ end }} {{ end }}
</div>
