<style>
  .timeline {
    display: flex;
    flex-direction: column;
  }

  .timeline__row {
    display: flex;
  }

  .timeline__time {
    flex: 0 0 100px;
    color: var(--secondary);
    font-size: 14px;
    text-transform: uppercase;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.65rem 0;
  }

  .timeline__time-text {
    margin: 0;
  }

  .timeline__split-line {
    position: absolute;
    top: 0.5rem;
    right: -20px;
    height: 100%;
    width: 1px;
    background-color: var(--border);
    z-index: -1;
  }

  .timeline__split-line:before {
    content: "";
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 8px;
    height: 8px;
    background-color: var(--border);
    border-radius: 50%;
  }

  .timeline__content {
    flex: 1;
    margin-left: 3rem;
    padding: 0.5rem 0 1.2rem 0;
  }

  .timeline__title {
    margin: 0;
    margin-bottom: 5px;
    color: var(--content);
    font-family: var(--font-family-teshu);
    font-size: 16px;
    font-weight: 500;
    width: fit-content;
  }

  .timeline__tags {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0.6rem 0 0.2rem 0;
    align-items: center;
    gap: 0.5rem;
  }

  .timeline__tag {
    display: inline-block;
    color: var(--tertiary);
    background-color: var(--code-bg);
    border-radius: 3px;
    padding: 0rem 0.5rem;
    font-size: 12px;
    white-space: nowrap;
    line-height: 1.4rem;
  }

  .timeline__description {
    font-size: 14px;
    line-height: 1.6;
    color: var(--secondary);
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0.5rem 0 0.4rem 0;
  }
</style>

<div class="timeline">
  <div class="timeline__row">
    <div class="timeline__time">
      <div class="timeline__time-text">{{ .Get "time" }}</div>
      <div class="timeline__split-line"></div>
    </div>
    <div class="timeline__content">
      <div class="timeline__title">{{ .Get "title" }}</div>
      <div class="timeline__description">{{ .Inner }}</div>
      <div class="timeline__tags">
        {{ $tags := split (.Get "tags") "," }} {{ range $tags }}
        <span class="timeline__tag">{{ . }}</span>
        {{ end }}
      </div>
    </div>
  </div>
</div>

<!-- 优化上面的div布局,并补充CSS,使布局和样式参考:https://column.com/changelog/#apr-27-2023 -->
