*,
::after,
::before {
    box-sizing: border-box;
}

html {
    -webkit-tap-highlight-color: transparent;
    overflow-y: scroll;
    /* -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility; */
}

a,
button,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--primary);
}

body {
    font-family: -apple-system, BlinkMacSystemFont, Helvetica, 'Helvetica Neue', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-size: 18px;
    line-height: 1.6em;
    word-break: break-word;
    background: var(--theme);
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
table {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

body,
figure {
    margin: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    overflow-x: auto;
    word-break: keep-all;
}

button,
input,
textarea {
    padding: 0;
    font: inherit;
    background: 0 0;
    border: 0;
}

input,
textarea {
    outline: 0;
}

button,
input[type=button],
input[type=submit] {
    cursor: pointer;
}

input:-webkit-autofill,
textarea:-webkit-autofill {
    box-shadow: 0 0 0 50px var(--theme) inset;
}

img {
    display: block;
    max-width: 100%;
}

::-webkit-scrollbar-track {
    background: 0 0;
}

.list-page:not(.dark)::-webkit-scrollbar-track {
    background: var(--code-bg);
}

::-webkit-scrollbar-thumb {
    background: var(--tertiary-bg);
    border: 5px solid var(--theme);
    border-radius: var(--radius);
}

.list-page:not(.dark)::-webkit-scrollbar-thumb {
    border: 5px solid var(--code-bg);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--secondary);
}

  /* 滑动进入动画开始*/
  @keyframes slide-enter {
    0% {
      transform: translateY(10px);
      opacity: 0;
    }

    to {
      transform: translateY(0);
      opacity: 100;
    }
  }

  @media (prefers-reduced-motion: no-preference) {
    [slide-enter],
    .slide-enter,
    .slide-enter-content > * {
      --enter-stage: 0;
      --enter-step: 500ms;
      --enter-initial: 0ms;
      animation: slide-enter 1s both 1;
      animation-delay: calc(
        var(--enter-initial) + var(--enter-stage) * var(--enter-step)
      );
    }

    .slide-enter-content > *:nth-child(1) {
      --enter-stage: 1;
    }
    .slide-enter-content > *:nth-child(2) {
      --enter-stage: 2;
    }
    .slide-enter-content > *:nth-child(3) {
      --enter-stage: 3;
    }
    .slide-enter-content > *:nth-child(4) {
      --enter-stage: 4;
    }
    .slide-enter-content > *:nth-child(5) {
      --enter-stage: 5;
    }
    .slide-enter-content > *:nth-child(6) {
      --enter-stage: 6;
    }
    .slide-enter-content > *:nth-child(7) {
      --enter-stage: 7;
    }
    .slide-enter-content > *:nth-child(8) {
      --enter-stage: 8;
    }
    .slide-enter-content > *:nth-child(9) {
      --enter-stage: 9;
    }
    .slide-enter-content > *:nth-child(10) {
      --enter-stage: 10;
    }
    .slide-enter-content > *:nth-child(11) {
      --enter-stage: 11;
    }
    .slide-enter-content > *:nth-child(12) {
      --enter-stage: 12;
    }
    .slide-enter-content > *:nth-child(13) {
      --enter-stage: 13;
    }
    .slide-enter-content > *:nth-child(14) {
      --enter-stage: 14;
    }
    .slide-enter-content > *:nth-child(15) {
      --enter-stage: 15;
    }
    .slide-enter-content > *:nth-child(16) {
      --enter-stage: 16;
    }
    .slide-enter-content > *:nth-child(17) {
      --enter-stage: 17;
    }
    .slide-enter-content > *:nth-child(18) {
      --enter-stage: 18;
    }
    .slide-enter-content > *:nth-child(19) {
      --enter-stage: 19;
    }
    .slide-enter-content > *:nth-child(20) {
      --enter-stage: 20;
    }
  }
  /* 滑动进入动画结束*/