.links-container {
  font-size: 16px;
}
.links-container blockquote {
  margin: var(--gap) 0;
  padding: 0 14px;
  border-inline-start: 3px solid var(--primary);
}
.links .item {
  padding: 16px;
  background: var(--code-bg);
  border-radius: var(--radius);
  min-height: 74px;
}

.links .favicon {
  display: inline-block;
  background-size: 16px 16px;
  width: 16px;
  height: 16px;
  image-rendering: -webkit-optimize-contrast;
}
.links .item .title .favicon {
  margin-right: calc(var(--gap) / 2);
  vertical-align: middle;
}

.links .item .title a:hover {
  color: var(--link-hover-color);
  box-shadow: var(--link-hover-underline-shadow);
  padding-bottom: 2px;
}

.links .item .description {
  margin-left: calc(16px + var(--gap) / 2);
  color: var(--secondary);
  line-height: 1.6;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.links .item .description .delimiter::after {
    content: "·";
    margin-inline-start: .5em;
    margin-inline-end: .5em;
}

.links.slide-enter-content {
    grid-template-columns: repeat(2,minmax(0,1fr));
    display: grid;
    gap: 12px;
}

@media screen and (max-width: 767px) {
  .links.slide-enter-content {
    grid-template-columns: repeat(1,minmax(0,1fr));
    display: grid;
    gap: 12px;
}
}