{{ define "main" }} {{ $donate := getJSON "data/donate.json" }}

<link rel="stylesheet" href="/css/donate.css" />

<header class="page-header">
  <h1>{{ .Title }}</h1>
  {{- if .Description }}
  <div class="post-description">{{ .Description }}</div>
  {{- end }}
</header>

{{ range $donate.donate}}
<div
  data-cursor="text"
  data-cursor-style="background: currentColor"
  class="donate-container slide-enter-content{{ if .firstOfYear }} first-of-year{{ end }}"
>
  <div class="donate-year{{ if not .firstOfYear }} invisible{{ end }}">
    {{ .year }}
  </div>
  <div class="donate-box">
    <div
      class="donate-head-about{{ if not .firstOfYear }} hiddenabout{{ end }}"
    >
      <span>打赏详情</span>
      <span>消费现场</span>
    </div>
    <div class="donate-row">
      <div class="donate-left">
        <div class="donate-date">
          <span class="donate-month">{{ .month }}</span>
          <span class="donate-day">{{ .day }}</span>
        </div>
        <div class="donate-content">
          <div class="donate-head">
            <div class="donate-user">{{ .user }}</div>
            <span>打赏了</span>
            <div class="donate-price">{{ .price }}</div>
          </div>
          <div class="donate-description">
            <span>相当于赠送了</span>
            <div class="donate-goods">{{ .goods }}</div>
          </div>
        </div>
      </div>
      <div class="donate-img">
        <img src="{{ .img }}" alt="" data-action="zoom" />
      </div>
    </div>
  </div>
</div>

{{ end }}

<!-- 添加打赏功能开始 -->
<div
  style="
    padding: 10px 0;
    margin: 40px 0 0 0;
    width: 100%;
    font-size: 16px;
    text-align: center;
  "
>
  <button
    style="cursor: none"
    data-cursor="block"
    data-cursor-style="background: #00999930;"
    id="rewardButton"
    disable="enable"
    onclick="var qr = document.getElementById('QR'); if (qr.style.display === 'none') {qr.style.display='block';} else {qr.style.display='none'}"
  >
    <div class="button-text">
      <svg
        id="292218605"
        class="custom-svg"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
      >
        <g transform="matrix(1,0,0,1,0,0)">
          <g id="292218605" opacity="1" style="mix-blend-mode: normal">
            <g>
              <defs>
                <clipPath
                  id="292218605_clipPath"
                  x="-50%"
                  y="-50%"
                  width="200%"
                  height="200%"
                >
                  <path
                    d="M0,0h24v0v24v0h-24v0v-24z"
                    fill="white"
                    clip-rule="nonzero"
                  ></path>
                </clipPath>
              </defs>
              <g clip-path="url(#292218605_clipPath)">
                <g transform="matrix(1,0,0,1,1.5,5)">
                  <g
                    id="I292218605220541"
                    opacity="1"
                    style="mix-blend-mode: normal"
                  >
                    <g>
                      <g>
                        <g transform="matrix(1,0,0,1,4,0)">
                          <g
                            id="I292218605220542"
                            opacity="1"
                            style="mix-blend-mode: normal"
                          >
                            <g>
                              <g>
                                <g style="mix-blend-mode: NORMAL">
                                  <path
                                    id="I292218605220542_stroke_path"
                                    d="M9.55612,1.5857c3.55511,1.97841 4.44388,4.44124 4.44388,5.92505c-0.5,0.32291 -2,1.87126 -4,1.48376l1,2.49848c0.66667,0.16657 2.1,1.29921 2.5,2.49848h-3.33936c-0.71771,0 -1.3804,-0.38434 -1.73649,-1.00711l-0.92906,-1.62487c0,2.29174 -2.33006,2.70954 -3.4951,2.63198h-2.00122c-0.94162,0 -1.41379,-0.00135 -1.70656,-0.29357c-0.29222,-0.29278 -0.29222,-0.76359 -0.29222,-1.70521c0,-0.94162 0,-1.41243 0.29222,-1.70521c0.29278,-0.29222 0.76494,-0.29357 1.70657,-0.29357h1.63216c-4.44388,-4.94603 -3.95014,-6.92441 -2.96259,-8.4082c1.1464,-1.72247 4.44388,-2.47301 8.88777,0zM14,7.51075h0.25767c1.51455,0 2.74233,1.22704 2.74233,2.74066c0,1.51363 -1.22778,2.74066 -2.74233,2.74066h-1.25767M9.55612,5.49665c-0.84623,0 -1.86276,0.29593 -2.75398,0.64624c-1.02639,0.40344 -1.35914,1.6276 -0.81194,2.58463l1.5049,2.63198"
                                    fill="none"
                                    stroke="currentColor"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-dasharray="0 0"
                                    stroke-opacity="1"
                                  ></path>
                                </g>
                              </g>
                            </g>
                          </g>
                        </g>
                      </g>
                    </g>
                  </g>
                  <g transform="matrix(1,0,0,1,0,9)">
                    <g
                      id="I292218605220543"
                      opacity="1"
                      style="mix-blend-mode: normal"
                    >
                      <g>
                        <g>
                          <g style="mix-blend-mode: NORMAL">
                            <path
                              id="I292218605220543_stroke_path"
                              d="M4.0001,1.5c-1.00129,0 -2.20284,-1.5 -3.00388,-1.5c-0.82724,0 -0.97104,0.34128 -0.99603,2.99757c-0.01039,1.10452 0.39381,2.00243 1.49981,2.00243"
                              fill="none"
                              stroke="currentColor"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              stroke-dasharray="0 0"
                              stroke-opacity="1"
                            ></path>
                          </g>
                        </g>
                      </g>
                    </g>
                  </g>
                </g>
              </g>
            </g>
          </g>
        </g>
        <animateTransform
          href="#I292218605220542"
          attributeName="transform"
          type="translate"
          values="0 0;-3 1;0 0;0 0"
          dur="2s"
          repeatCount="indefinite"
          calcMode="spline"
          keyTimes="0;0.2;0.4;1"
          keySplines="0.5 0.35 0.15 1;0.5 0.35 0.15 1;0.5 0.35 0.15 1"
          additive="sum"
          fill="remove"
        ></animateTransform>
        <animateTransform
          href="#I292218605220542"
          attributeName="transform"
          type="rotate"
          values="0 0 0;-20 0 0;0 0 0;0 0 0"
          dur="2s"
          repeatCount="indefinite"
          calcMode="spline"
          keyTimes="0;0.2;0.4;1"
          keySplines="0.5 0.35 0.15 1;0.5 0.35 0.15 1;0.5 0.35 0.15 1"
          additive="sum"
          fill="remove"
        ></animateTransform>
      </svg>
      打赏
    </div>
  </button>
  <span
    style="
      font-size: 13px;
      margin-top: 12px;
      display: inline-block;
      align-items: center;
      color: var(--tertiary);
      line-height: 18px;
      padding-bottom: 2px;
    "
    >感谢各位金主的打赏</span
  >
  <div id="QR" style="display: none">
    <div id="wechat" style="display: inline-block">
      <a class="fancybox" rel="group">
        <img
          id="wechat_qr"
          src="https://images.wananaiko.com/2023/06/IMG_5127.JPG"
          alt="WeChat Pay"
          data-action="zoom"
      /></a>
      <p>微信打赏</p>
    </div>
    <!-- <div id="alipay" style="display: inline-block">
          <a class="fancybox" rel="group">
            <img
              id="alipay_qr"
              src="https://images.wananaiko.com/2023/06/IMG_5128.JPG"
              alt="Alipay"
          /></a>
          <p>支付宝打赏</p>
        </div> -->
  </div>
</div>

<!-- 添加打赏功能结束 -->

<script>
  // 获取所有图片
  var images = document.querySelectorAll(".donate-img img");

  // 为每张图片添加鼠标移动和鼠标退出事件监听器
  images.forEach(function (img) {
    img.addEventListener("mouseover", function () {
      // 添加悬停效果
      this.classList.add("hover-effect");
    });

    img.addEventListener("mouseout", function () {
      // 移除悬停效果
      this.classList.remove("hover-effect");
    });
  });

  // 关闭灯箱时删除所有图片的悬停效果
  document.addEventListener("zoom-out", function () {
    images.forEach(function (img) {
      img.classList.remove("hover-effect");
    });
  });
</script>

{{ if not (eq .Params.Comments "false") }} {{ partial "comments.html" . }} {{
end }} {{ end }}
