{{ define "main" }} {{ $donate := getJSON "data/donate.json" }}

<link rel="stylesheet" href="/css/donate.css" />

<header class="page-header">
  <h1>{{ .Title }}</h1>
  {{- if .Description }}
  <div class="post-description">{{ .Description }}</div>
  {{- end }}
</header>

{{ range $donate.donate}}
<div
  class="donate-container slide-enter-content{{ if .firstOfYear }} first-of-year{{ end }}"
>
  <div class="donate-year{{ if not .firstOfYear }} invisible{{ end }}">
    {{ .year }}
  </div>
  <div class="donate-box">
    <div class="donate-head-about{{ if not .firstOfYear }} hidden{{ end }}">
      <span>打赏详情</span>
      <span>消费现场</span>
    </div>
    <div class="donate-row">
      <div class="donate-left">
        <div class="donate-date">
          <span class="donate-month">{{ .month }}</span>
          <span class="donate-day">{{ .day }}</span>
        </div>
        <div class="donate-content">
          <div class="donate-head">
            <div class="donate-user">{{ .user }}</div>
            <span>打赏了</span>
            <div class="donate-price">{{ .price }}</div>
          </div>
          <div class="donate-description">
            <span>相当于赠送了</span>
            <div class="donate-goods">{{ .goods }}</div>
          </div>
        </div>
      </div>
      <div class="donate-img">
        <img src="{{ .img }}" alt="" data-action="zoom" />
      </div>
    </div>
  </div>
</div>

{{ end }}

<!-- 添加打赏功能开始 -->
<div
  style="
    padding: 10px 0;
    margin: 40px 0 0 0;
    width: 100%;
    font-size: 16px;
    text-align: center;
  "
>
  <button
    id="rewardButton"
    disable="enable"
    onclick="var qr = document.getElementById('QR'); if (qr.style.display === 'none') {qr.style.display='block';} else {qr.style.display='none'}"
  >
    <span class="button-text">
      <svg class="iconpark-icon"><use href="#ketou"></use></svg> 打赏</span
    >
  </button>
  <span
    style="
      font-size: 13px;
      margin-top: 12px;
      display: inline-block;
      align-items: center;
      color: var(--tertiary);
      line-height: 18px;
      padding-bottom: 2px;
    "
    >感谢所有金主的打赏</span
  >
  <div id="QR" style="display: none">
    <div id="wechat" style="display: inline-block">
      <a class="fancybox" rel="group">
        <img
          id="wechat_qr"
          src="https://images.wananaiko.com/2023/06/IMG_5127.JPG"
          alt="WeChat Pay"
          data-action="zoom"
      /></a>
      <p>微信打赏</p>
    </div>
    <!-- <div id="alipay" style="display: inline-block">
          <a class="fancybox" rel="group">
            <img
              id="alipay_qr"
              src="https://images.wananaiko.com/2023/06/IMG_5128.JPG"
              alt="Alipay"
          /></a>
          <p>支付宝打赏</p>
        </div> -->
  </div>
</div>

<!-- 添加打赏功能结束 -->

{{ if not (eq .Params.Comments "false") }} {{ partial "comments.html" . }} {{
end }} {{ end }}
