{{ define "main" }}
{{ $data := getJSON "https://notion-api.splitbee.io/v1/table/687f460a214943ecb7260dc48ecb8818" }}

<style>
    .notion-cards {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .notion-cards-row {
        display: flex;
        justify-content: space-between;
        width: 100%;
        text-decoration: none;
        color: inherit;
    }

    .notion-card {
        background-color: #f2f2f2;
        border-radius: 5px;
        padding: 20px;
        width: 100%;
        box-sizing: border-box;
    }

    .notion-card-tweet {
        height: auto;
        width: 100%;
        white-space: pre-wrap;
        overflow-wrap: break-word;
        font-size: 16px;
        line-height: 1.8rem;
    }

    .notion-card-author {
        font-size: 0.875rem;
        color: var(--tertiary);
    }

    .notion-card-tags {
        font-size: 14px;
        color: #888;
    }

    .page-icon {
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .page-icon img {
        max-width: 100%;
        max-height: 100%;
    }

    a.notion-cards-row {
        transition: var(--link-transition);
        padding-bottom: 2px;
        box-shadow: none;
    }

    a.notion-cards-row:hover {
        transition: var(--link-transition);
        padding-bottom: 2px;
        box-shadow: none;
    }

</style>


{{ $data := getJSON "https://notion-api.splitbee.io/v1/table/687f460a214943ecb7260dc48ecb8818" }}
{{ range $item := $data }}
{{ $id := $item.id }}
{{ $pageData := getJSON (print "https://notion-api.splitbee.io/v1/page/" $id) }}
<div class="card">
    <h2>{{ $pageData.properties.title }}</h2>
    <p>{{ $pageData.properties.description }}</p>
</div>
{{ end }}


{{ end }}
