{{ define "main" }}
{{ $data := getJSON "https://notion-api.splitbee.io/v1/table/687f460a214943ecb7260dc48ecb8818" }}

<style>
  .notion-cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .notion-cards-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-decoration: none;
    color: inherit;
  }

  .notion-card {
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
  }

  .notion-card-tweet {
    height: auto;
    width: 100%;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    font-size: 16px;
    line-height: 1.8rem;
  }

  .notion-card-author {
    font-size: 0.875rem;
    color: var(--tertiary);
  }

  .notion-card-tags {
    font-size: 14px;
    color: #888;
  }

  .page-icon {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .page-icon img {
    max-width: 100%;
    max-height: 100%;
  }

  a.notion-cards-row {
    transition: var(--link-transition);
    padding-bottom: 2px;
    box-shadow: none;
  }

  a.notion-cards-row:hover {
    transition: var(--link-transition);
    padding-bottom: 2px;
    box-shadow: none;
  }

</style>


<div class="notion-cards">
  {{ range $index, $item := $data }}
  <a href="{{ index $item "Tweet Link" }}" class="notion-cards-row" target="_blank" rel="no noreferrer">
  <div class="notion-card">
    <div class="notion-card-tweet">{{ $item.Tweet }}</div>
    <div class="notion-cards-row2">
      <div class="notion-card-author">{{ $item.Author }}</div>
      <div class="page-icon">
        {{ $id := $item.id }}
        {{ $iconURL := printf "https://notion-api.splitbee.io/v1/page/%s" $id }}
        {{ $pageData := getJSON $iconURL }}
        {{ $icon := $pageData.page_icon }}
        {{ if and $icon (strings.HasPrefix $icon "http") }}
        <img src="{{ $icon }}" alt="Page Icon">
        {{ else }}
        {{ $icon }}
        {{ end }}
      </div>
    </div>
    <div class="notion-card-tags">{{ $item.Tags }}</div>
  </div>
  </a>
  {{ end }}
</div>



{{ end }}
