{{- define "main" }} {{- $isNewsletter := eq .Type "newsletter" }}

<article class="post-single">
  <header class="post-header">
    {{ partial "breadcrumbs.html" . }} {{- if $isNewsletter -}} {{- partial
    "newsletter_brand.html" . }} {{- end -}}

    <a href="/">
      <div class="return-back">
        <div class="back-icon">←</div>
        <div class="back-word">主页</div>
        <div class="article-time">
          {{- if not .Date.IsZero -}}
          <span class="meta-time">
            <span
              >{{ .Date | time.Format (default "January 2, 2006"
              site.Params.DateFormat) }}</span
            ></span
          >
          {{- end }}
        </div>
      </div>
    </a>

    <h1 class="post-title">
      {{- if $isNewsletter -}} {{- replace .Title (.Param "titlePrefix") (.Param
      "titlePrefixReplace") -}} {{- else -}} {{- .Title -}} {{- end -}} {{- if
      .Draft -}}<sup><span class="entry-isdraft">&nbsp;&nbsp;[draft]</span></sup
      >{{- end -}}
    </h1>
    {{- if .Description }}
    <div class="post-description">{{- .Description -}}</div>
    {{- end }} {{- if not (.Param "hideMeta") }}
    <div class="post-meta">
      {{- partial "post_meta.html" . -}} {{/* TODO move to footer */}} {{/*
      partial "edit_post.html" . */}} {{/* partial "post_canonical.html" . */}}
    </div>
    {{- end }}
  </header>
  {{- $isHidden := .Params.cover.hidden | default
  site.Params.cover.hiddenInSingle | default site.Params.cover.hidden }} {{-
  partial "cover.html" (dict "cxt" . "IsHome" false "isHidden" $isHidden) }} {{-
  if (.Param "ShowToc") }} {{- partial "toc.html" . }} {{- end }} {{- if
  .Content }}
  <div class="post-content slide-enter-content">
    <!-- 下面显示contentai的内容 -->
    {{ if .Params.ai }}
    <div class="contentai">
      <div class="contentai-head">
        <div class="contentai-title">
          <svg class="iconpark-icon">
            <use href="#icon-contentai"></use>
          </svg>
          AI 摘要
        </div>
        <div class="contentai-span">基于 ChatGPT 3.5</div>
      </div>
      <!-- 这里给div增加了一个id "typedText"，并将内容隐藏在一个javascript变量中 -->
      <div class="contentai-ai">
        <span id="typedText"></span>
        <span class="typed-cursor typed-cursor--blink">|</span>
      </div>
      <script>
        var contentaiText = {{ .Params.ai | safeHTML }};
      </script>
    </div>
    {{ end }}
    <!-- 上面显示contentai的内容 -->

    {{- if not (.Param "disableAnchoredHeadings") }} {{- partial
    "anchored_headings.html" .Content -}} {{- else }}{{ .Content }}{{ end }}
  </div>
  {{- end }}

  <footer class="post-footer">
    <!-- 添加打赏功能开始 -->
    <div
      style="
        padding: 10px 0;
        margin: 20px auto;
        width: 100%;
        font-size: 16px;
        text-align: center;
      "
    >
      <button
        id="rewardButton"
        disable="enable"
        onclick="var qr = document.getElementById('QR'); if (qr.style.display === 'none') {qr.style.display='block';} else {qr.style.display='none'}"
      >
        <div class="button-text">
          <svg
            id="292218605"
            class="custom-svg"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
          >
            <g transform="matrix(1,0,0,1,0,0)">
              <g id="292218605" opacity="1" style="mix-blend-mode: normal">
                <g>
                  <defs>
                    <clipPath
                      id="292218605_clipPath"
                      x="-50%"
                      y="-50%"
                      width="200%"
                      height="200%"
                    >
                      <path
                        d="M0,0h24v0v24v0h-24v0v-24z"
                        fill="white"
                        clip-rule="nonzero"
                      ></path>
                    </clipPath>
                  </defs>
                  <g clip-path="url(#292218605_clipPath)">
                    <g transform="matrix(1,0,0,1,1.5,5)">
                      <g
                        id="I292218605220541"
                        opacity="1"
                        style="mix-blend-mode: normal"
                      >
                        <g>
                          <g>
                            <g transform="matrix(1,0,0,1,4,0)">
                              <g
                                id="I292218605220542"
                                opacity="1"
                                style="mix-blend-mode: normal"
                              >
                                <g>
                                  <g>
                                    <g style="mix-blend-mode: NORMAL">
                                      <path
                                        id="I292218605220542_stroke_path"
                                        d="M9.55612,1.5857c3.55511,1.97841 4.44388,4.44124 4.44388,5.92505c-0.5,0.32291 -2,1.87126 -4,1.48376l1,2.49848c0.66667,0.16657 2.1,1.29921 2.5,2.49848h-3.33936c-0.71771,0 -1.3804,-0.38434 -1.73649,-1.00711l-0.92906,-1.62487c0,2.29174 -2.33006,2.70954 -3.4951,2.63198h-2.00122c-0.94162,0 -1.41379,-0.00135 -1.70656,-0.29357c-0.29222,-0.29278 -0.29222,-0.76359 -0.29222,-1.70521c0,-0.94162 0,-1.41243 0.29222,-1.70521c0.29278,-0.29222 0.76494,-0.29357 1.70657,-0.29357h1.63216c-4.44388,-4.94603 -3.95014,-6.92441 -2.96259,-8.4082c1.1464,-1.72247 4.44388,-2.47301 8.88777,0zM14,7.51075h0.25767c1.51455,0 2.74233,1.22704 2.74233,2.74066c0,1.51363 -1.22778,2.74066 -2.74233,2.74066h-1.25767M9.55612,5.49665c-0.84623,0 -1.86276,0.29593 -2.75398,0.64624c-1.02639,0.40344 -1.35914,1.6276 -0.81194,2.58463l1.5049,2.63198"
                                        fill="none"
                                        stroke="currentColor"
                                        stroke-width="1.5"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        stroke-dasharray="0 0"
                                        stroke-opacity="1"
                                      ></path>
                                    </g>
                                  </g>
                                </g>
                              </g>
                            </g>
                          </g>
                        </g>
                      </g>
                      <g transform="matrix(1,0,0,1,0,9)">
                        <g
                          id="I292218605220543"
                          opacity="1"
                          style="mix-blend-mode: normal"
                        >
                          <g>
                            <g>
                              <g style="mix-blend-mode: NORMAL">
                                <path
                                  id="I292218605220543_stroke_path"
                                  d="M4.0001,1.5c-1.00129,0 -2.20284,-1.5 -3.00388,-1.5c-0.82724,0 -0.97104,0.34128 -0.99603,2.99757c-0.01039,1.10452 0.39381,2.00243 1.49981,2.00243"
                                  fill="none"
                                  stroke="currentColor"
                                  stroke-width="1.5"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                  stroke-dasharray="0 0"
                                  stroke-opacity="1"
                                ></path>
                              </g>
                            </g>
                          </g>
                        </g>
                      </g>
                    </g>
                  </g>
                </g>
              </g>
            </g>
            <animateTransform
              href="#I292218605220542"
              attributeName="transform"
              type="translate"
              values="0 0;-3 1;0 0;0 0"
              dur="2s"
              repeatCount="indefinite"
              calcMode="spline"
              keyTimes="0;0.2;0.4;1"
              keySplines="0.5 0.35 0.15 1;0.5 0.35 0.15 1;0.5 0.35 0.15 1"
              additive="sum"
              fill="remove"
            ></animateTransform>
            <animateTransform
              href="#I292218605220542"
              attributeName="transform"
              type="rotate"
              values="0 0 0;-20 0 0;0 0 0;0 0 0"
              dur="2s"
              repeatCount="indefinite"
              calcMode="spline"
              keyTimes="0;0.2;0.4;1"
              keySplines="0.5 0.35 0.15 1;0.5 0.35 0.15 1;0.5 0.35 0.15 1"
              additive="sum"
              fill="remove"
            ></animateTransform>
          </svg>
          打赏
        </div>
      </button>
      <a
        href="/donate"
        style="
          font-size: 13px;
          margin-top: 12px;
          display: inline-block;
          align-items: center;
          color: var(--link-hover-color);
          line-height: 18px;
          padding-bottom: 2px;
          box-shadow: 0 0.5px var(--link-hover-color);
        "
        >感谢所有金主的打赏</a
      >
      <div id="QR" style="display: none">
        <div id="wechat" style="display: inline-block">
          <a class="fancybox" rel="group">
            <img
              id="wechat_qr"
              src="https://images.wananaiko.com/2023/06/IMG_5127.JPG"
              alt="WeChat Pay"
              data-action="zoom"
          /></a>
          <p>微信打赏</p>
        </div>
        <!-- <div id="alipay" style="display: inline-block">
          <a class="fancybox" rel="group">
            <img
              id="alipay_qr"
              src="https://images.wananaiko.com/2023/06/IMG_5128.JPG"
              alt="Alipay"
          /></a>
          <p>支付宝打赏</p>
        </div> -->
      </div>
    </div>

    <!-- 添加打赏功能结束 -->

    {{- if (.Param "socialLinks") }} {{- partial "social_links.html" . }} {{-
    end }} {{- if (.Param "ShowPostNavLinks") }} {{- partial
    "post_nav_links.html" . }} {{- end }} {{- if $isNewsletter }}
    <div class="newsletter-sub">
      <div class="notice">
        感谢你能读到这里，如果觉得有趣的话，欢迎在下方输入邮箱进行订阅。
      </div>
      {{- partial "newsletter_sub_form.html"}}
    </div>
    {{- end }}
  </footer>

  <!--增加 外部Link 预览效果-->
  <!-- <script src="https://js.linkz.ai/?key=641a952e5e858e300b0deeb1"></script> -->

  {{ if (and .Site.Params.remark42SiteID .Params.comments) }}
  <div id="remark42"></div>
  {{ end }} {{- if not (.Param "noComments") }} {{- partial "comments.html" . }}
  {{- end }}
</article>

<script src="/js/highlight-title.js"></script>

<!-- JavaScript 打字动画库 -->
<script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
<script>
  var typed = new Typed("#typedText", {
    strings: [contentaiText],
    typeSpeed: 30,
    cursorChar: "", // 关闭默认的光标
  });

  // 当#rewardButton:hover时，修改svg id="292218605"中所有的stroke颜色为#fff,修改fill的颜色为#009999.
</script>

{{- end }}{{/* end main */}}
